
body{
   
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-areas: 
    "header header header header header"
    "main main main main aside"
    "main main main main aside"
    "footer footer footer footer footer";
    background-image: linear-gradient(white,blanchedalmond );
    background-repeat: no-repeat;
    font-family: Big system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



header{
    grid-area: header;
    background-color: black;
    color:white;
    margin: 0;
    padding: 0;
    height: 50px;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
main{
    grid-area: main;
    font-size: larger;
    padding-left: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 92px;
}
nav{
    display: flex;
   gap: 150px;
}

aside{
    grid-area: aside;
    padding: 20px;
   background-color: blanchedalmond;
}

footer{
    grid-area: footer;
    text-align: center;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
}
.lien{

    text-decoration: none;
    color: white;
   
    
}

.lien2{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(104, 146, 244);
}


h1{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.réalisation{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.image{
    width: 250px;
    height: 250px;
    background-image: url(../images/imgCV.jpeg);
    margin: 10px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0px;
}
